@use "../../../style/abstracts" as *;
@use "sass:color";

.table {
  width: 100%;
  border-collapse: collapse;
  transition: all 0.2s ease;

  &__head {
  }

  &__headRow {
    border-bottom: 1px solid #ddd;
  }

  &__headCell {
    padding: 12px;
    text-align: left;
    font-weight: 600;
  }

  &__body {
  }

  &__bodyRow {
    border-bottom: 1px solid #eee;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      border-color: $budget-dark-gray;
      color: $budget-carrot;
    }
  }

  &__bodyCell {
    padding: 12px;
    white-space: nowrap;
  }
}
