* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #1a1a1a;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 좌우 스크롤 방지 */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}
