@use "../../../style/abstracts" as *;

.form {
  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: space-between;

    &-vertical {
      color: $budget-white;
    }

    &-horizontal {
      flex-direction: row;
      color: darkcyan;
    }
  }

  &-label {
  }
  &-control {
    min-width: 15rem;

    input[type="text"] {
      width: 100%;
    }
  }
}
