@use "../../../style/abstracts" as *;

.form {
  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: space-between;

    &-vertical {
      color: $budget-white;
    }

    &-horizontal {
      flex-direction: row;
      color: darkcyan;
    }
  }

  &-label {
  }
  &-control {
    min-width: 15rem;

    input[type="text"] {
      width: 100%;
    }
  }
}

/* 모바일 전용 스타일 */
@media (max-width: 768px) {
  .form {
    &-item {
      display: flex;
      flex-direction: column;
    }

    &-label {
    }
    &-control {
      min-height: 2.75rem !important;
    }
  }
}
