@use "../../../style/abstracts" as *;

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
}

.transaction-form-wrapper {
  background: $budget-card-gray;
  border: 1px solid $budget-card-border;
  border-radius: 20px;
  padding: 0.95rem;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    .header-title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      color: $budget-white;
      .title {
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: -2px;
      }
    }
  }
}

.transaction-summary-wrapper {
  .transaction-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;

    &-btn-wrapper {
      display: flex;
      gap: 0.3rem;
      margin-right: 0.25rem;

      .common-btn {
        width: 3rem;
        height: 1.75rem;
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }

  .transaction-content {
    margin-bottom: 2rem;

    .items {
      display: flex;
      align-items: center; // 기본 가로 정렬
      gap: 8px;
      margin-bottom: 12px;

      &.align-top {
        align-items: flex-start; // 상단 정렬 (multi-line value 대응)
      }

      .item-label {
        width: 8rem;
        font-weight: 500;
        color: #888;
        flex-shrink: 0;
      }

      .item-value {
        color: #e5e5e5;
        word-break: break-word;
        white-space: pre-wrap;

        &.highlight {
          color: $budget-carrot; // orange-500 느낌
          font-weight: 600;
        }
      }
    }
  }

  .transaction-footer {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
    padding-top: 0.75rem;
    font-size: 0.95rem;
    color: white;
    font-family: monospace;
    white-space: pre;

    .related-account-list {
      list-style: none;
      padding-left: 1rem;
      margin: 0;
    }

    .related-account-list li {
      margin-bottom: 0.2rem;
    }
  }
}

/* 모바일 전용 스타일 */
@media (max-width: 768px) {
  .transaction-submit-button {
    width: 100% !important;
    max-width: 100%;
    padding: 0.35rem 0 !important;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.05) !important;
    border-color: $budget-dark-gray !important;
    color: $budget-carrot !important;
  }

  .transaction-form-wrapper {
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.25rem;
      button {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }
      .header-title-wrapper {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: $budget-white;
        .icon {
          width: 2rem;
          height: 2rem;
        }

        .title {
          font-size: 1.5rem;
          font-weight: 800;
          margin-top: -2px;
        }
      }
    }
  }

  .transaction-summary-wrapper {
    .transaction-content {
      // 상세정보 수정모드일 때만 적용되도록
      .detail-edit-wrapper {
        .detail {
          .items {
            justify-content: space-between;
          }
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          select {
            padding: 13.6px;
          }
        }
      }
    }
  }
}
