@use "../../../../style/abstracts" as *;

.select {
  appearance: none;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: $budget-form-bg;
  border: 1px solid $budget-divider-gray;
  border-radius: 0.5rem;
  color: $budget-white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: $budget-yellow;
  }

  &:focus {
    outline: none;
    border-color: $budget-carrot;
    box-shadow: 0 0 0 2px rgba($budget-carrot, 0.3);
    color: $budget-white;
    background-color: $budget-form-select-focus;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
