@use "../../style/abstracts" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;
  }
}
