@use "../../../style/abstracts" as *;

.card {
  background: $budget-card-gray;
  border: 1px solid $budget-card-border;
  border-radius: 20px;
  padding: 0.95rem;
  color: $budget-white;
  .header {
    .titleWrapper {
    }
    .buttonWrapper {
    }
  }

  .main {
  }
}
